PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tradezone_user
DB_PASSWORD=K7q9ZyrFEi6rNrl
DB_NAME=tradezone_db
JWT_SECRET="your_jwt_secret_key"
POSTMARK_TOKEN="your_postmark_token"
STORAGE_ACCESS_KEY="your_aws_access_key"
STORAGE_SECRET_KEY="your_aws_secret_key"
STORAGE_BUCKET_NAME="your_s3_bucket_name"
STORAGE_ENDPOINT="s3.eu-north-1.amazonaws.com"      # private endpoint for S3-compatible storage
STORAGE_URL="https://your_cdn_url.com"          # public URL for accessing stored files
SMTP_USER="your_smtp_user"
PAYSTACK_SECRET_KEY="your_paystack_secret_key"
PAYSTACK_CALLBACK_URL="your_paystack_callback_url"
